In [39]:
class Employee:
#create a employee data sets
    def __init__(self,empid = None, name = None ,salary = None):
        self.empid = empid
        self.name = name
        self.salary = salary
    #add data set value for empty sets
    def set_emp_id(self,empid):
        self.empid = empid
    def set_name(self,name):
        self.name = name
    def set_salary(self,salary):
        self.salary = salary
    #show there data sets value
    def get_emp_id(self):
        return self.empid
    def get_name(self):
        return self.name
    def get_salary(self):
        return self.salary

# e1 = Employee()
# e2 = Employee(142,"Abhisek",54000)
# e3 = Employee(256,"Sibhasis",5400)
# e1.set_emp_id(123)
# e1.set_salary(5400)
# e1.set_name("Tonmay")

# print(e1.get_name(),e1.get_emp_id(),e1.get_salary())
# print(e2.get_name(),e2.get_emp_id(),e2.get_salary())

In [41]:
e1 = Employee()
e2 = Employee(142,"Abhisek",54000)
e3 = Employee(256,"Sibhasis",5400)
e1.set_emp_id(123)
e1.set_salary(5400)
e1.set_name("Tonmay")

In [43]:
print(e1.get_name(),e1.get_emp_id(),e1.get_salary())
print(e2.get_name(),e2.get_emp_id(),e2.get_salary())

Tonmay 123 5400
Abhisek 142 54000